
*{
  box-sizing: border-box;
}

.ocultaresto {
    display: none;
}

.cardPropio {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #543a3a;
  background-clip: border-box;
  border: 0 solid rgba(0,0,0,.125);
  border-radius: .25rem;
}

/* Estilos De La Animacion De Carga */
.contenedorCargador{
  width: 270px;
  height: 270px;
  top: 40%;
  display: flex;
  /* border: 1px solid #CCC;
  border-radius: 10px;  */
  /* background: rgba(231, 231, 231, 0.945); */
  position: relative;
  margin: auto;
}



.contenedorCargador .loader-container{
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  /* border-radius: 15px;
 border: 2px solid rgb(2, 180, 180);  */
}

.loader-container .fotico
{
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  /* margin: auto; */

}
.loader-container .loader{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 120%;
  height: 120%;
  border: solid 4px transparent;
  /* border-top-color: #0dac77;
  border-left-color: #0dac77; */
  border-top-color: #0edaf5;
  border-left-color: #0edaf5;
  border-radius: 50%;
  animation: loader 1.4s linear infinite;
}
 
.loader-container .loader2{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  height: 90%;
  border: solid 4px transparent;
  border-top-color: #283fc3;
  border-left-color: #283fc3;
  border-radius: 50%;
  animation: loader2 1.2s linear infinite;
}
 /* =======================Estilos del div tarjeta =============================== */
 .contenedorImg{
  width: 350px;
  height: 350px;
  display: flex;
  /* border: 1px solid #CCC; */
  border-radius: 10px;
  /* background: rgba(231, 231, 231, 0.945); */
  /* box-shadow: 10px 0px 10px rgba(0, 0, 0, .5); */
  position: relative;
  margin: auto;
}
.contenedorImg .card {
  width: 80%;
  height: 50%;
  /* background: #ccc; */
  background: linear-gradient(to top, #fff, rgb(158, 158, 158));
  border-radius: 15px;
  top: 25%;
  left: 10%;
  position: absolute;
  border: 2px solid rgb(2, 180, 180);
  /* box-shadow: 0px 0px 15px #fff; */
  box-shadow: -20px 20px 10px rgb(0 0 0 / 20%);
  transform: rotate(-45deg);
}
.contenedorImg .card img{
  transform: rotate(90deg);
  width: 30%;
  left: 60%;
  top: 20%;
  /* background: #111; */
  position: absolute;

}

.contenedorImg .ViewDato{
  margin: auto;
  position: absolute;
  top: 80%;
  width: 100%;
  height: 30px;
  vertical-align: auto;
  transform: rotate(360deg);
  color: black;
  background: rgba(1, 161, 161, 0.699);
  font-size: 15px;
  line-height: 33px;
  font-weight: bold;
  text-align: center;
}
.datos{
  position: absolute;
  width: 140px;
  height: 130px;
  top: 7%;
  left: 10%;
  margin: auto;
  font-size: 12px;
  text-align: center;
  transform: rotate(90deg);
}
.datos label{
  font-weight: normal !important;
}

#datosLabel{
  font-weight: bold !important;
  margin: 5px;
}

@keyframes loader{
  0%{
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100%{
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
 
@keyframes loader2{
  0%{
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100%{
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

